# Created by https://www.gitignore.io/api/eclipse,java,maven
 
### Eclipse ###
.metadata
bin/
tmp/
target-eclipse/
*.fbprefs
*.tmp
*.bak
*.swp
*~.nib
local.properties
**/.settings/
.loadpath
.recommenders
**/.freemarker-ide.xml
**/groovy/META-INF/MANIFEST.MF
**/.groovy/
# El eclipse tiene a crear .gitignore en las subcarpetas. Es preferible tenerlo en uno solo.
.gitignore
!/.gitignore
 
**/local/
 
# Eclipse Core
**/.project
 
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# JDT-specific (Eclipse Java Development Tools)
**/.classpath
 
# Java annotation processor (APT)
.factorypath
 
# sbteclipse plugin
.target
 
# STS (Spring Tool Suite)
.springBeans
 
# Code Recommenders
.recommenders/
 
 
### Java ###
*.class
 
# Mobile Tools for Java (J2ME)
.mtj.tmp/
 
# Package Files #
*.jar
*.war
*.ear
 
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.log
 
### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.flattened-pom.xml

## MELD ##
**/*.orig

## MAC ##
.DS_Store
**/.DS_Store

## Ant
build/

## Europeana properties
europeana-client.properties

